@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0%;
    
}

body {
    font-family: 'Open Sans', sans-serif;
    
}

.row:after {
    content: "";
    display:flex;
    clear: both;
    flex-wrap: wrap;
    flex-direction: row;
}

.column30 {
    width: 30%;
    float: left;
    background-color: #0D4A46;
    color: white;
    flex-direction: row;
    text-align: center;
   
}

#nombre {
    font-size: 70px;
}


.nav {
    background-color: black ;

}

.fa-school {
    color: white;
    font-size: 125%;
    padding: 1%;  
    
    
}

.fa-address-card {
    color: white;
    font-size: 125%;
    padding: 1%; 

}

.datos {
    content: "";
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.correo {
    text-align: start;
    padding-top: 7%;   
}
.telefono {
    text-align: start;
    padding-top: 7%;
}

.ubi {
    text-align: start;
    padding-top: 10%;
}

.fa-phone {
    float: left;
    font-size: 125%;
    padding-left: 12%;
    padding-top: 7.5%;
    padding-right: 23%;
    
}

.fa-envelope {
    float: left;
    font-size: 125%;
    padding-left: 12%;
    padding-top: 7.5%;
    padding-right: 12%;
    
}

.fa-house {
    float: left;
    font-size: 125%;
    padding-left: 12%;
    padding-top: 10.5%;
    padding-right: 7%;
    
}


.nacimiento{
    padding-top: 5%;
    font-size: 20px;
}
.personales {
    padding-top: 10%;
    }