@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0%;
    
}

body {
    font-family: 'Open Sans', sans-serif;
    
}

.row:after {
    content: "";
    display:flex;
    clear: both;
    flex-wrap: wrap;
    flex-direction: row;
}

.column30 {
    width: 30%;
    float: left;
    background-color: #0D4A46;
    color: white;
    flex-direction: row;
    text-align: center;
   
}

.nombre {
    font-size: 70px;
}

.fa-phone {
    font-size: 125%;
    font-size: 125%;
    padding-top: 0.5%;   
    padding-right: 5%;
}

.fa-sharp {
    font-size: 125%;
    padding-top: 0.5%;   
    padding-right: 5%;
}



.correo {
    display: flex;
    justify-content: center;

}

.nav {
    background-color: black ;

}

.fa-school {
    color: black;
    font-size: 500%;
    padding-top: 0.5%;   
    padding-right: 5%;
}


