<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <title>CVWEB Marcos Yélamos</title>
    <script src="https://kit.fontawesome.com/81661c0d51.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="row">
        <div class="nav">
            <a href="../../index.html"><i class="fa-solid fa-language"></i></a>
            <a href="#personales"><i class="fa-regular fa-address-card"></i></a>
            <a href="#ubi"><i class="fa-solid fa-location-arrow"></i></a>
            <a href="#formacion"><i class="fa-solid fa-school"></i></a>
        </div>
        <div class="column30">
            <h1 id="nombre">Marcos Yélamos</h1>
            <p class="nacimiento">26/03/2005</p>
            
            <div class="datos">
                <p id="ubi">Hospitalet de Llobregat (08901)</p>
                <p class="correo">myelamoss@gmail.com</p>
                <p class="telefono">687076015</p>
            </div>
            
            <div class="mi">
                <h1 id="personales">About me:</h1>
                <p class="parrafo">Hello, my name is Marcos Yélamos Sánchez. I am a sincere, practical, respectful person
                    and somewhat shy at first, but as soon as I gain some confidence I let go. I like them
                    much animals. Since I was little I have liked to play sports, I have done taekwondo and paddle tennis.
               
               
                <p class="parrafo"> I am passionate about computing and learning about it, that's why I enrolled in a medium grade
                    computer. In the cycle I have learned to use Office tools such as Power
                    Point, Excel, Word, etc. I know how to install Windows and Linux operating systems, do
                    network configurations, DCHP, DNS, FTP server installations... Create web pages. </p>

                <p class="parrafo2">
                    I can work both in a team and alone without problems.</p> 
            </div>
        </div>
       
        <div class="column70">
            <div>
                <h1 class="objetivo">Professional objective</h1>
                <p class="objetivo2">My professional goal is to be able to develop professionally in the IT sector.</p>
            </div>

            <div class="centro">
                <h1 id="formacion">Academic Training</h1>
                <p class="formacion2">2022 SMX1 Jesuïtes Bellvitge - Centro de Estudios Joan XXIII</p>
                <iframe class="joan23" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2995.1130475681625!2d2.1072972!3d41.3498965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498d64bd023fd%3A0x26089fc39cb352a3!2sCentro%20de%20Estudios%20Joan%20XXIII!5e0!3m2!1ses!2ses!4v1683817620315!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <p class="formacion4">2021 ESO - Colegio Tecla Sala <a href="https://www.google.es/maps/place/Colegio+Tecla+Sala/@41.3605328,2.0976824,18z/data=!3m1!4b1!4m6!3m5!1s0x12a499225f81934f:0xa902b526573f9205!8m2!3d41.3605316!4d2.0984479!16s%2Fg%2F11fx8ws9d_"><i class="fa-solid fa-location-dot"></i></a>
                </p>
              
            </div>
            <div class="centro">
            <h1 class="laboral">Work experience</h1>
            <p class="laboral2">383h - Labor practices at the Escuela Balaguer.</p>
            <p class="laboral3">I have been an intern at the Balaguer school, in Florida, I was about 5 months and there
                I was in charge of providing computer support together with some colleagues. There I made installations
                software in Windows and Linux, hardware, resolution of computer problems that could
                have the students of the school or the teachers themselves.
            </p>
            </div>
            <div>
                <h1 class="presentacion">Presentation video</h1>
                <iframe class="vpresent" width="560" height="315" src="https://www.youtube.com/embed/nDjS5VmTAIw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            
        </div>
        
        
    </div>
</body>
</html>